fastapi==0.115.12
uvicorn[standard]==0.34.2

numpy==1.26.4
opencv-python==4.10.0.84
Pillow==11.2.1

#insightface==0.7.3
#pip install insightface --only-binary=:all:
onnx==1.17.0
onnxruntime==1.18.1

mediapipe==0.10.14
protobuf==4.25.3

pydantic==2.10.6
pydantic-settings==2.7.1

python-dotenv==1.0.1
python-multipart==0.0.20